<p id="notice"><%= notice %></p>
<div class='container'>
  <div class='holder'>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@recipe.category_id).name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%# ingredients = Ingredient.find(@recipe.ingredient_ids)%>
  <%#= names = ingredients.map { |ingredient| ingredient[:name]}.join(" - ") %>
  <% @recipe.quantities.each do |quantity| %>   
    <%= quantity.quantity %>
    <%= quantity.ingredient.try(:name) %><br>
  <% end %>
</p>


<%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> 
<%= link_to 'Back', recipes_path %>
