<p id="notice"><%= notice %></p>
<h1>Quantities</h1>
<div class='container'>
<div class='holder'>


  <tbody>
    <% @quantities.each do |quantity| %>
      <tr>
        <td><%= quantity.ingredient.try(:name) %></td>
        
        <td><%= link_to 'Show', quantity %></td>
        <td><%= link_to 'Edit', edit_quantity_path(quantity) %></td>
        <td><%= link_to 'Destroy', quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

<br>

<%= link_to 'New Quantity', new_quantity_path %>
