<!DOCTYPE html>
<html>
<head>
  <title>CookingWithRailsHw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bg">
  <img src="http://www.resimsi.com/wp-content/uploads/2015/06/light-background-textures.jpg" alt="">
</div>

<%= render partial: "layouts/menu" %>

<%= yield %>

</body>
</html>
